[Unit]
Description=Run Tarsnapper jobs for %i

[Service]
ExecStart=/usr/bin/tarsnapper -c /etc/tarsnapper/%i.yml make

[Install]
WantedBy=nightly-backups.target

